@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: #281857;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}






.conatiner {
    margin-top: 200px;
    background: #281857;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 30px;
}

.name {
    font-size: 24px;
    font-weight: 600;
}

.btns__works {
    display: flex;
    box-shadow: 0 0 20px 5px #4d22c5;
    border-radius: 20px;
}

.btns__works * {
    height: 35px;
    width: 100px;
    border-radius: 20px;
    background-color: inherit;
    color:rgb(167, 167, 167);
    border: none;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

.btn__active {
    color: #d42b65
}

.main__timer_circle {
    margin-top: 50px;
    border: 6px solid #d42b65;
    box-shadow: 0 0 40px 5px #4d22c5;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main__timer_circle {
    display: flex;
    gap: 10px;
    font-size: 65px;
}

.play {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.back-arrow {
    width: 25px;
    height: 25px;
    transform: rotate(15deg);
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.hide {
    display: none;
}